<%# views/telemetry.ejs %>
<% extend('layout') %>

<h1>Dispositivos</h1>
<ul class="list-group">
	<% devices.forEach(function(device) { %>
	<li class="list-group-item">
		<div class="container">
			<div><label>Nome:</label><b><%= ' '+device.name %></b></div>
			<div><label>Token: </label><%= ' '+device._id %></div>
			<div><label>Descrição: </label><%= ' '+device.description %></div>
			<div><label>Adicionado em: </label><%= ' '+device.created_at %></div>
		
	<% if (user) { %>
		<a class="btn btn-default" href="/devices/edit/<%=device._id %>">Edit</a>
		<a class="btn btn-danger delete-device" data-id="<%=device._id%>" href='#'>Delete</a>
	<% } %>
		</div>
	</li>
	<% }); %>
</ul>