<%# views/telemetry.ejs %>
<% extend('layout') %>

<h1>Telemetria</h1>
<div class="form-group">
		<select id="select-devices">
			<option>Todos os dispositivos</option>
		</select>
		</div>
<div class="table-responsive">
	<table class="table table-striped" id="telemetry-data">
		<thead class="thead-inverse">
			<tr>
				<th>ID</th>
				<th>P(W)</th>
				<th>Vrms(V)</th>
				<th>Irms(A)</th>
				<th>Horário</th>
			</tr>
		</thead>
		<tbody>
			<!-- <% telemetry_list.forEach(function(item) { %>
		    <tr>
		    	<td><%= item.timestamp %></td>
		    	<td><%= item.power %></td>
		    	<td><%= item.voltage %></td>
		    	<td><%= item.current %></td>
		    	<td><%= item.deviceId %></td>
		    </tr>
		    <% }); %> -->
		</tbody>
	</table>
</div> 

<!-- td=telemetry.timestamp
td=telemetry.power
td=telemetry.voltage
td=telemetry.current
td=telemetry.deviceId
-->